<h1>Relief Society :: Visit Teaching</h1>

<div class="row">
  <div class="span6 btn btn-lg">
    <%= link_to "Visit Teaching", visit_teaching_index_path %>
  </div>
  
  <div class="span5 btn btn-lg">
    <%= link_to "Sisters in Need", sisters_in_need_index_path %>
  </div>
</div>