<h1>Boston 1st Ward</h1>
<h3>Ward Mission Website</h3>
<h4>Purpose of this website</h4>
<p>In an effort to bring greater transparency to need within the ward,
this website has been created to allow auxiliaries leaders to post and
track the needs of the members under their stewardship. This information
will be available to everyone within the ward council, as well as the
ward clerks. I believe the transparency of this information will foster
an environment in which help may come from unexpected places because
general awareness of those in need is increased.</p>

<p>This website is simply a tool, though. Its ability to help will rely
on its use by auxiliary members.</p>
<hr>
