<h1>Relief Society :: Visit Teaching</h1>

<div class="row">
  <%= link_to "Relief Society Main", relief_society_index_path, :class => "span3 btn btn-lg" %>
  <%= link_to "Visit Teaching", visit_teaching_index_path, :class => "span4 btn btn-lg" %>
  <%= link_to "Sisters in Need", sisters_in_need_index_path, :class => "span4 btn btn-lg" %>
</div>